abci==0.3.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
colorlog==3.1.0
coverage==4.4.2
ed25519==1.4
gevent==1.2.2
greenlet==0.4.12
idna==2.6
merkletools==1.0.2
pkg-resources==0.0.0
pluggy==0.6.0
protobuf==3.5.1
py==1.5.2
pysha3==1.0b1
pytest==3.3.2
pytest-cov==2.5.1
pytest-pythonpath==0.7.1
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
