asyncio==3.4.3
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
colorlog==3.1.4
coverage==4.5.1
ed25519==1.4
idna==2.7
merkletools==1.0.3
more-itertools==4.3.0
pkg-resources==0.0.0
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pysha3==1.0.2
pytest==3.9.1
pytest-cov==2.6.0
pytest-pythonpath==0.7.3
PyYAML==3.13
redis==2.10.6
requests==2.20.0
six==1.11.0
tm-abci==0.6.2
urllib3==1.26.5
